body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* ENCABEZADO */
header{
    background-color: #232f3e;
    color: white;
    padding: 30px;
    text-align: center;
}

/* PROYECTOS */
.projects{
    padding: 30px;
    text-align: center;
}

.project{
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 70%;
    border: 1px solid #ccc;
}

.project img{
    width: 100%;
    max-width: 250px;
    height: auto;
    margin-top: 10px;
}

/* CONTACTO */
.contact{
    background-color: #ddd;
    padding: 30px;
}

form{
    background-color: #333;
    color: white;
    padding: 20px;
    width: 50%;
    margin: auto;
}

.fields{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label{
    margin-bottom: 5px;
}

input, textarea{
    padding: 10px;
    border: none;
}

textarea{
    resize: none;
}

button{
    padding: 10px;
    background-color: orange;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: darkorange;
}

/* PIE DE PÁGINA */
footer{
    background-color: #232f3e;
    color: white;
    text-align: center;
    padding: 20px;
}

/* DISEÑO RESPONSIVO */
@media (max-width: 768px){
    .project{
        width: 90%;
    }

    form{
        width: 90%;
    }
}
